@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Vendor Invoicing Web App!</h1>
    <p>Click <a asp-controller="Vendor" asp-action="GetVendorList">here</a> to go to the Vendors Page .</p>
</div>
